[2015-11-24 21:36] jnevins-gcm opened #3 "NLog Buffered Target doesn't respect flush"
If the application exits, even if LogManager.Flush is called, the SumoLogic buffered target will not flush the buffer.

[2016-05-06 23:54] CampsiteHelper opened #6 "Dependency on .NET 2.0 System.Net.Http Assembly"
..ergo does not work in Mono -

System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.
File name: 'System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'
  at System.Reflection.MonoCMethod.InternalInvoke (System.Object obj, System.Object[] paramete

[2016-05-12 23:58] latkin commented on #6
Hi @CampsiteHelper, thanks for the issue report.  Yeah, seems odd to have mostly .NET 4 references then just this single 2.0 reference.  I believe `System.Net.Http` was deprecated and split up/refactored in .NET 4.  We would just need to move to those new APIs.

We are looking to have someone take care of that. No ETA but it's on our radar.

[2016-05-16 23:33] #6 closed

[2016-05-20 22:21] ermeaney opened #8 "nLog Appender Configuration documentation does not include timestamp"
This is only a documentation problem, but I got caught with it while working on a demonstration with some guys from SumoLogic.

In the read me, you have the targets setup like this:
<target name="bufferedSumoLogic" type="BufferedSumoLogicTarget" layout="${LEVEL}, ${message}">

But that does not include the timestamps, hence that became a problem. You should include something like this:

<target na

[2016-05-21 03:08] bin3377 commented on #8
@ermeaney Thanks for your feedback. but looks like you missing the part after 'this:'? Can you help to specific it?

[2016-05-21 14:23] ermeaney commented on #8
Sorry, not sure what happened there.

Currently on a mobile, but what I was trying  to say was in the nLog config example, the layout is missing a date field, which was why I was not getting the date sent to the collector.

Once I fixed that in my configuration, everything worked as expected. So, I am suggesting changing the example configuration for nLog to include that.

[2016-08-09 06:13] techmanmike opened #9 "SumoLogic NLog appender does retry correctly"
When calling PostAsync and there is a Timeout on connecting/sending the data it will throw a AggregateException which is caught and then the sumo appender throws the InnerException which is correct.

However, this inner exception should then be caught by the Send() method, but it only catches "IOException" and it could be HttpRequestException or WebException or any other number of exceptions.

So

[2016-08-09 08:12] techmanmike opened #10 "Sydney ELB DNS TTL doesn't look correct and will cause connection issues"
The SumoLogic .NET appenders rely on DNS which doesn't look correct for Sydney AU (I could be wrong, as I am no DNS expert).

Windows will cache the DNS entry for the TTL which is 24 hours for "collectors.au.sumologic.com" but if the number of machines in this ELB scales down, then that IP will no longer be valid and there will be a connection failure (which the NLog Sumologic code doesn't handle

[2016-08-09 22:09] techmanmike opened #11 "Need a better logging solution for SumoLogic .net appenders"
At the moment there is just a Console logger, which is pretty useless when running in a web environment. This is also compounded by running in AWS where developers can't even login to production.

It would be good if there was a logger that wrote to windows performance counters, or the windows event log, or even a file that auto-archived (so we don't fill up the file system).

I am sure there are

[2016-08-10 05:59] techmanmike opened #12 "SumoLogic NLog appender DrainTo can drain more messages than 1MB"
The DrainTo code drains all the messages in the queue until it is empty.

This can be a problem is there are messages continually being added to the message queue at a rate greater than they can be drained out.  Which means the number of messages (bytes) could be incredibly high for busy systems which will fail to send over Http Post.

There should be a check in DrainTo to see if it has drained en

[2016-08-10 20:57] latkin commented on #9
Thanks for noticing this, I've submitted a fix that additionally handles those exception types you mentioned here.

[2016-08-10 20:58] latkin commented on #9
cc @techmanmike

[2016-08-10 21:03] latkin commented on #11
Hi Mike, thanks for filing the issue.  I'm not sure I understand what you are asking - the appenders in this repo send data to a Sumo Logic [HTTP Source](https://help.sumologic.com/Send_Data/Sources/HTTP_Source) from any .NET app (console, UI, web, etc). The data is then searchable within Sumo Logic.

[2016-08-10 22:40] techmanmike commented on #11
What I am asking for is that there is a setting called "UseConsoleLog" which can log out what is happening inside the appender when trying to diagnose any client side problems.  Then problem is the ConsoleLog only writes to the Console.  There should be other internal loggers that write to the EventView, or File, or something so that we can see what is happening inside the appender when deployed i

[2016-08-11 00:12] latkin commented on #11
Ah, yes that makes sense. Indeed if you work only with the XML config it's limited to the console logger.  If you configure the target in code, however, you can specify an arbitrary `ILog` which could do what you mention.

[2016-08-11 00:36] latkin commented on #10
Hi Mike, thanks for opening the issue. I'm no DNS expert either, but in my view I wouldn't want the addition of a log appender to alter app-level DNS settings unexpectedly.

Are you experiencing issues in production or is this a theoretical problem?

[2016-08-11 03:34] techmanmike commented on #11
How do I specify my own logger?  The only thing in the XML is
<UseConsoleLog>True/False</UseConsoleLog>.

How do I inject my own logger in?

The LogLog property (horrible name by the way) is private on the
SumoLogicTarget.

Example:

    private ILog LogLog
        {
            get;
            set;
        }

On Thu, Aug 11, 2016 at 10:12 AM, Lincoln Atkinson <notifications@github.com

--
Michae

[2016-08-11 16:47] latkin commented on #11
Something like

[code]

[2016-08-11 16:53] #8 closed

[2016-08-11 16:53] #9 closed

[2016-08-12 19:52] #12 closed

[2016-08-12 19:53] #11 closed

[2016-08-14 21:17] techmanmike commented on #11
Got it - thanks!

Do you think this should be added to the github readme page (or a link to
this or something)? I am sure it would be quite useful to many others using
this target...

On Fri, Aug 12, 2016 at 2:47 AM, Lincoln Atkinson <notifications@github.com>
wrote:

--
Michael Ridgway
Director of Engineering, Ryvuss
carsales.com Ltd.

[2016-08-15 17:23] latkin commented on #11
Sure, I'll add it to the README so it's easier to find

[2016-08-15 23:22] latkin commented on #3
This was fixed with PR from a while back

[2016-08-15 23:22] #3 closed

[2016-08-17 15:33] #10 closed

[2016-10-20 16:37] TerribleDev opened #19 "Support dotnet core"
Hello, I'd like support for dotnet core, and I am willing to help achieve this goal.

Before I do anymore work I obviously want to know, if I help do this, that it will be pulled into the project.

I have had a good look through the codebase, and I believe I have identified the major blocks for moving to core.
## Proposal

Convert projects to PCL, still using csproj. This is so we maintain assembl

[2016-10-20 17:04] zhangsiy commented on #19
:thumbsup: This would be super helpful as we are undergoing more and more dotnet Core development

[2016-10-20 18:38] TerribleDev opened #20 "nuget package question"
I noticed the nuget package targets dotnet 4.0 but the csproj files target 4.5

Did someone upgrade the project's versions, but not actually push the new targets to nuget? I noticed in nuget these projects still target 4

[2016-10-22 12:17] TerribleDev commented on #19
@latkin  ok so this is a complex question in the dotnet space to be honest.

There are a few ways you can target multiple projects:

## Shared code files

You can have multiple csproj files that compile down a dll for each platform (nuget moniker) you wish to target into a folder structure that is like `/bin/<target>/MyProject.dll` so for example dotnet 4 would be `/bin/net40/MyProject.dll` Typica

[2016-10-22 12:20] TerribleDev commented on #19
@latkin  ok so this is a complex question in the dotnet space to be honest.

There are a few ways you can target multiple projects:

## Shared code files

You can have multiple csproj files that compile down a dll for each platform (nuget moniker) you wish to target into a folder structure that is like `/bin/<target>/MyProject.dll` so for example dotnet 4 would be `/bin/net40/MyProject.dll` Typica

[2016-10-26 18:46] latkin commented on #19
Thanks for the detailed writeup. I agree we don't want to go down the project.json path, and as a general principle we want to minimize the churn/refactoring needed in code and build.

So PCL/netcore seems reasonable to me. If you start a PR we could certainly help.

[2016-11-01 17:48] TerribleDev commented on #19
@latkin I have ran into a problem. I didn't notice, or realize that System.Console is being used in this project.

System.Console is not available in PCL projects, and IMO shouldn't be used in the appenders anyway. We can either wait until project.json goes away for csproj, or just keep going down the PCL road.

Considering both nlog, and log4net have targets to console could we remove this refere

[2016-11-21 18:23] latkin commented on #19
Hi @TerribleDev apologies that this slipped over the past weeks.

I'm ok with dumping the Console output for portable libraries, or whatever new targets we are introducing. However for compatibility's sake I'd prefer to keep them in place for desktop targets. Can we do a simple `#ifdef`? Thanks again for your work on this.

[2016-12-20 19:27] TerribleDev commented on #19
@latkin We can't do that in portable libs....since the csproj system is close to being released (vs 17 is in RC right now with that tooling set) I think we should just wait for it to come out, and instead of going portable lib route (which made sense in November) just port the existing csproj's over to the new csproj system. Less of a breaking change, would allow `#ifdef`'s and its not far to wait

[2016-12-24 20:41] shatl opened #22 "Separate package for SumoLogic.Logging.Common"
Hello guys,
Would be great to have a separate package for SumoLogic.Logging.Common, so I use it in custom sinks.

Thanks

[2017-01-09 18:16] latkin commented on #19
Why can't we do that for portable libraries?

I do not want to change the build so that it is only compatible with VS 2017. This is a fairly simple library project and we should aim to keep it compatible with older versions.

[2017-01-09 23:46] billpratt commented on #19
I would vote to abandon porting for PCLs since the new standard is targeting .NET Standard (no pun intended). [Log4Net](https://www.nuget.org/packages/log4net/) has released their update targeting .NET Standard and [NLog](https://www.nuget.org/packages/NLog/5.0.0-beta04) is in beta.

In order to not wait until the new csproj structure is in place, I proposed pull request #23 that uses the existing

[2017-01-10 10:39] TerribleDev commented on #19
@latkin you can't do an #ifdef i a pcl since the artifact of a pcl build is a **single** dll that is cross platform. This is talked about on [this stack overflow post](http://stackoverflow.com/a/28747395).  Doing #ifdef's implies that we would have a build for .net full and a build for netcore which is 2 seperate projects, thus not a "portable" artifact.

If we want compatibility with older VS ver

[2017-01-24 20:26] latkin commented on #19
Here's a high level summary of where we need to go:

  - We need to continue shipping a .NET desktop version, with full binary compat (i.e. no breaking changes to public API or behavior)
    - Devs should be able to work with this code and build this with VS 2015
  - I would love to ship additional versions of the library which target the newer .NET variants or portable platforms
    - Breaking AP

[2017-01-25 00:56] billpratt commented on #19
@latkin Understandable. With that said, besides the locking PR submitted in #27, are you proposing not moving forward with the additional changes I submitted as separate PRs? These changes will work with VS2015 and .NET full framework. For .NET Core, there is a separate solution and projects that hook into the full framework projects and allow you to build against .NET Standard and .NET Core. VS20

[2017-01-30 19:41] latkin commented on #19
@billpratt I've merged one of your PRs and am happy to merge the other, just had a small comment.

We can move forward with adding .NET standard support any time, as long as devs with VS 2015 can still build and test the .NET desktop code, and the desktop binaries remain fully compatible.

I am still not clear on why a totally new solution or projects are required, but maybe that will be made clea

[2017-01-31 19:21] ischyrus opened #30 "Channels"
I have been logging to Sumo using a library I found but decided to switch to using the NLog appender for various benefits it adds. In the Sumo library I was using I was able to send in the 'name' (which I called the channel name) as a header called "X-Sumo-Name" that let me categorize my logs. Is it possible to retain this name\channel variable when using the NLog appender?

[2017-02-03 03:42] billpratt commented on #19
@latkin I'm finding it a bit tricky at the moment to get the current csproj projects to target .NET Standard and it was easier to do it as a separate solution for PoC. I'm trying out a possible solution and will response on this thread.

[2017-02-03 19:54] latkin commented on #19
Sounds good. Thanks again for bearing with me and spending time on this, it's really appreciated.

[2017-02-08 14:56] joshabelman commented on #19
Seems like we are mostly holding off for Core 2.0. Has anyone already done the conversion to project.json and xproj? Could we throw that it in a new branch if so?

[2017-02-14 02:41] billpratt commented on #19
Ive started done the path of project.json and xproj with good success. @latkin has requested that we keep it in one solution if possible. From my findings it order to do this for VS 2015 the projects have to be converted to portable and targeting .NET 4.5 and .NET Standard. It would take some work but wonder how much easier it will be in VS 2017. For now I created a Serilog sink for Sumo Logic and

[2017-03-13 19:20] fractal9000 opened #32 "SumoLogic sending a single log message as multiple messages"
This is my reproduced sample code:

        [TestMethod]
        public void Should_log_to_SumoLogic()
        {
            List<string> didNumbers = new List<string>();
            for (int i = 0; i<=25; i++)
            {
                didNumbers.Add("T"+i.ToString("D3"));
            }
            string message =
                "Sending request to genereate and send all reports for today f

[2017-03-27 13:55] TerribleDev commented on #19
So the more I think about this the more I believe its not possible to get this together. Since this thread started the dotnet team introduced netstandardlibrary, and from what I can tell a PCL cannot import a netstandardlibrary package. Nlog, and Log4Net have both moved to netstandardlibrary, and not targeted netcore directly.

I'm with @billpratt here, we can't support core, and vs2015 at the sam

[2017-03-28 18:00] duchatran commented on #32
What if you config the Sumo HTTP source to treat each request as a single message, would that work? Also I suspect the Multiline processing might be doing something here, try unchecking that?

[2017-03-28 19:15] fractal9000 commented on #32
I noticed the problem has gone away.
SumoLogic Support had said it wasn't their problem and sent me here.
but a few days ago, I looked at my logs and they are now displaying properly.

[2017-03-29 19:56] latkin commented on #32
Make sure your Sumo Logic source has appropriate multi-line settings. If left on the default of "auto-detect", results can be hard to predict sometimes.

If the system sees a small number of lines it might group them all together because it doesn't have much to go off of. If it sees hundreds of lines that look like `TNNN` then it will assume this is what individual message look like, and split it

[2017-03-29 19:56] #32 closed

[2017-03-29 20:00] latkin commented on #30
Hi @ischyrus, apologies for delayed reply.

Yes, you can configure `X-Sumo-Name` via the XML config setting `<SourceName>ExampleNameNLogBufferedTarget</SourceName>` as shown in the README.

If you want to set this dynamically in code, I think there are NLog APIs that allow dynamic changes to appender properties.

[2017-03-29 20:00] #30 closed

[2017-03-29 20:01] latkin commented on #19
VS 2017 is now RTM, so I suppose there is no longer a strong reason to require compat with 2015.

[2017-04-11 12:54] TerribleDev commented on #19
@latkin I'm actively working on this now, quick question. I see there is a seperate build called DebugCA I think CA stands for code analysis. Do we still want/need this? We could in theory just do code analysis on all builds. Up to you of course. For now I will carry it forward (its not difficult to keep). I ported the common project, and it seems to have gone well. However it was a good amount of

[2017-04-12 03:17] latkin commented on #19
Code analysis on all builds is fine with me, feel free to trash that configuration.

[2017-05-10 10:43] TerribleDev commented on #22
@shatl https://github.com/billpratt/serilog-sinks-sumologic

[2017-05-11 17:44] shatl commented on #22
Thanks @TerribleDev

[2017-05-11 23:58] #19 closed

[2017-05-13 14:31] #20 closed

[2017-05-13 14:31] TerribleDev commented on #22
@latkin @shatl I believe this issue can now be closed

[2017-05-13 21:07] latkin commented on #22
https://www.nuget.org/packages/SumoLogic.Logging.Common/

[2017-05-13 21:07] #22 closed

[2017-05-14 13:50] ischyrus opened #37 "BufferedSumoLogicAppender"
I'm using ASP.NET Core, .NET Core, and log4net.

When I use the BufferedSumoLogicAppender I am not seeing all of the entries I'm logging appearing. (I do see the entries being made by Microsoft.AspNetCore.Hosting.Internal.WebHost) However, if I switch the config to using SumoLogicAppender all of them appear.

I'm not sure if I have something I'm overlooking or if this is an issue with the buffered

[2017-05-15 17:49] latkin commented on #37
Hi @ischyrus, is it possible to create a minimal C# example that shows the issue?

[2017-05-20 16:53] ischyrus commented on #37
[SumoExample.zip](https://github.com/SumoLogic/sumologic-net-appenders/files/1016327/SumoExample.zip)

Attached is a simple example. You will need to update the log4net.config to have your Collector URL and SourceName.

[2017-05-20 16:54] ischyrus commented on #37
Oh, and comment BufferedSumoLogicAppender and uncomment SumoLogicAppender to see it working.

[2017-05-25 03:34] bin3377 commented on #37
By investigating it, looks like the problem is log4net configuration. Somehow multiple appender instances were created under your sample. (See attached updated project with some debug trace)
[code]
So log lines are enqueued to different Appender instances but only one of them are actually send out through HTTP.

I created a SumoTest project with single instance of appender with same setting and it

[2017-05-25 23:34] ischyrus commented on #37
I got it working. I simply removed the SumoLogicAppender entirely and kept the BufferedSumoLogicAppender.

It's possible that part of the problem was that it was not flushing out as frequently as I thought\expected.

[2017-05-25 23:34] #37 closed

[2017-06-14 14:20] TerribleDev opened #39 "messages drop under load"
Hi,

when a lot of log messages are created the CostBoundConcurrentQueue<T> starts dropping messages on the floor. You can find this logic at [at this line](https://github.com/SumoLogic/sumologic-net-appenders/blob/master/SumoLogic.Logging.Common/Queue/BufferWithFifoEviction.cs#L120)

I'd like to.

1) Completely remove the CostBoundConcurrentQueue, the locking logic that occurs causes some slow do

[2017-06-14 17:55] latkin commented on #39
It is by design that the buffered appender enforces a maximum size. This is to prevent high log load from OOM-ing your app.  The max size can be adjusted with the parameter `MaxQueueSizeBytes`. Is there a problem with setting that to, say, 4GB?

If you have optimizations to the locking scheme, or new parameters/features then I'd be open to bringing those in.

[2017-06-14 20:51] TerribleDev commented on #39
Okay when you frame it that way it actually makes 100% sense that it would drop the logs I am going to figure out how to improve the performance around the lock I believe we may also end up adding the other feature min flush interval

[2017-06-21 17:53] spparekh opened #40 "Sumologic Targets not supported in AWS Lambda function"
AWS Lambda function uses .NetCore1.0 i.e. .NETStandard.Library (1.6.0) . Current beta package supports .NetStandard.Library (>=1.6.1) so we can't use Sumologic target from AWS lambda functions.

Please let us know if there are any plans to support Sumologic Target from AWS Lambda.

[2017-06-21 17:57] TerribleDev commented on #40
@spparekh are you just ultimately asking us to lower our target to netstandard 1.6.0 and not 1.6.1?

[2017-06-21 17:59] spparekh commented on #40
Yes. To support it from AWS Lambda functions.

Thanks.

On Wed, Jun 21, 2017 at 1:57 PM, Tommy Parnell <notifications@github.com>
wrote:

--

*Sunilkumar Parekh*
*Architect / Project Lead - Analytics*
Office: 919.833.0119 x108 |   Mobile:  919.771.7292
Email: sparekh@dunnsolutions.com |
*sparekh@peoplenetonline.com <sparekh@peoplenetonline.com>*

[2017-06-21 18:09] TerribleDev commented on #40
@spparekh https://github.com/SumoLogic/sumologic-net-appenders/pull/41

[2017-06-21 18:23] #39 closed

[2017-06-28 17:10] TerribleDev opened #43 "Github Tags + public builds"
I think we should setup public builds on appveyor, or some other system that would support windows based builds such as Jenkins.

For a few reasons

We woud have public validation for PR's that the code compiles, and that the unit tests run ok. We could also have a build system push out the new nuget packages, and even enforce code coverage.  Ideally I'd like to push out new packages through githu

[2017-06-28 20:12] latkin commented on #40
#41 is now merged, and I just pushed updated NuGet packages. Version 1.0.0.5.

[2017-06-28 20:12] #40 closed

[2017-06-29 19:04] latkin commented on #43
That all sounds awesome.

I am happy to help review/facilitate this if it's driven by you or other external contributors, but to be totally transparent our team won't have resources to actively contribute.  If that sounds ok then I see no reason not to go for it.

[2017-06-29 20:36] TerribleDev commented on #43
I can write, and commit the files to use appveyor. Appveyor just reads a yml file in the repo like travis to perform the build. Without basic collaborator rights to this repo, I won't be able to setup appveyor, but once I commit the files in theory you could set it up. Same with coveralls (code coverage analysis).

The other piece for appveyor is an encrypted nuget api key, which would have to be

[2017-06-30 00:43] latkin commented on #43
At the very least I'm happy to push some buttons the make the final hookups work. I'm personally also fine with adding you as collaborator, but give me some time to touch base with some other folks first to make sure nobody has objections.

[2017-07-05 19:42] spparekh opened #44 "Error while using new 1.0.0.5 version with lambda function."
Error : Error loading extensions: SumoLogic.Logging.NLog ---> System.IO.FileNotFoundException: Could not load file or assembly 'SumoLogic.Logging.NLog, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.

Used : Sumologic.Logging.Nlog 1.0.0.5 (for .Net Standard 1.6.0)

Attached:
Attached Message from Lambda logs.
[CloudWatchLog.txt](https://github.com/SumoLogic/sumolo

[2017-07-05 22:03] TerribleDev commented on #44
Sounds to me like you are just missing the dll in your zip of files to lambda.

[2017-07-06 04:24] spparekh commented on #44
Hi Double checked. Both dll are bundled in zip file and part of release folder. Also exported lambda function package which also contains both of above dll.

Please let me know if we have any working sample for using Sumologic.Logging.Nlog and .NetCore 1.0

[2017-07-06 11:05] TerribleDev commented on #44
@spparekh there is a sample [in the repository](https://github.com/SumoLogic/sumologic-net-appenders/tree/master/SumoLogic.Logging.NLog.Example). We're also using `1.0.0.5` in a docker container.  Have you considered contacting aws?

Just out of curiosity what does the filesystem inside your zip look like?

[2017-07-06 11:07] TerribleDev commented on #44
The fact that you have `the system cannot find the file specified.` in your error message would indicate the filesystem inside of your zip is not correct, or is not setup in a way that will make the dll's discover-able.

[2017-07-07 13:16] TerribleDev commented on #43
@latkin working on this now, sorry its slow going. Doing about 40% of this on my free time. Also I decided to be bold and to port all the unit tests to core.

[2017-07-07 15:20] latkin commented on #43
No worries, just float a PR when you are ready. audentes Fortuna iuvat.

[2017-07-10 20:20] TerribleDev commented on #43
@latkin would it be ok if my PR came, breaking code coverage analysis? I'll promise to add it back later, but its a bit of a pain to do right now in core land.

[2017-07-10 23:57] latkin commented on #43
@TerribleDev yeah that's ok

[2017-07-24 15:17] latkin commented on #44
@spparekh were you able to investigate further? Is the issue still occuring?

[2017-08-18 22:00] #44 closed

[2017-08-21 19:07] latkin opened #46 "Support for SourceCategory and SourceHost in appender config"
Somebody logged an issue for our Java appenders, requesting configurable support for setting SourceCategory and SourceHost, similar to how SourceName can currently be set. https://github.com/SumoLogic/sumologic-log4j2-appender/issues/4

This is a reasonable request, so filing it here too.

[2017-08-21 19:11] TerribleDev commented on #46
I volunteer as tribute 😝

[2017-08-21 20:41] latkin commented on #46
@TerribleDev I have an internal dev who can take it. If you really want to that's great though. What do you think?

[2017-08-21 21:19] TerribleDev commented on #46
@latkin seems pretty straight forward. Take in the new variables, if they are not empty strings add the [headers documented here](https://help.sumologic.com/Send-Data/Sources/02Sources-for-Hosted-Collectors/HTTP-Source/Upload-Data-to-an-HTTP-Source).

If you want this done in less than 2 weeks, then get your dev on it. However, I'm happy to get this done I may take a little longer as I am currentl

[2017-08-21 21:48] latkin commented on #46
I have someone available ~now so I'll go for that. Enjoy 🇬🇧  🍵

[2017-08-24 20:37] yuting-liu opened #49 "tests for buffered appenders failures"
[code]

System information as following:
[code]

[2017-09-07 18:59] rvmiller89 commented on #46
Added in https://github.com/SumoLogic/sumologic-net-appenders/pull/48

[2017-09-07 18:59] #46 closed

[2017-10-02 18:52] sarchibald-mdsol opened #50 "Question: Will this work for a .net core 2.0 application?"
If not, are you aware of any other NLog/Sumo Logic appenders/targets?

[2017-10-02 18:58] TerribleDev commented on #50
We target `netstandard1.5` which is compatible with `netcoreapp2.0` so in short. These libraries are binary compatible with net core 2.0. However if there are breakages in NLog,log4net in 2.0 those will have to be addressed with the NLog/Log4Net team

[2017-10-02 18:59] TerribleDev opened #51 "Make an ILogger Implementation"
We should make an implementation that works with netcore's ILogger interface so people don't have to use NLog/Log4Net but use the simple logger inside aspnet core.

[2017-10-02 20:49] sarchibald-mdsol commented on #50
Thanks! I'll be trying it out in the next day or two.

⁣Sent from TypeApp ​

On Oct 2, 2017, 11:58 AM, at 11:58 AM, Tommy Parnell <notifications@github.com> wrote:

[2017-11-05 20:42] bdrupieski opened #52 "No console log in SumoLogic.Logging.Log4Net because SumoLogic.Logging.Common targets .NET Standard 1.1"
In the `ActivateConsoleLog` method of `BufferedSumoLogicAppender` and `SumoLogicAppender` in SumoLogic.Logging.Log4Net, if the project is not compiled with `netfull`, `DummyLog` is used instead of `ConsoleLog`. This is unexpected and makes it hard to figure out what's going on.

The project SumoLogic.Logging.Log4Net targets .NET Standard 1.3 and has access to System.Console. `ConsoleLog` is in Sum

[2017-11-05 21:09] TerribleDev commented on #52
I think it was just a case of we didn't know console was in 1.3. IMO Increasing to 1.3 is acceptable. Submit a pr?

[2017-11-05 22:44] bdrupieski commented on #52
OK, I'll submit a PR sometime this week. Thanks.

[2017-11-10 20:04] #52 closed

[2017-11-11 01:26] #50 closed

[2017-11-11 01:27] latkin commented on #51
Sounds reasonable, if you are willing to drive the design I am happy to help with review.

[2017-11-11 01:30] TerribleDev commented on #51
@latkin I have this work in flight, just been on hold due to the holiday season and me working for a big e-comm

[2017-12-18 05:08] hkf57 opened #60 ".NETStandard 2.0 support?"
Currently for .NET Standard 2.0 projects (including .net core 2.0+), the package is not able to be used due to conflicting dependencies (Package requires NLog >5.0.0-beta09 and NLog.Web.AspNetCore requires NLog.Extensions.Logging and NLog >= 4.5.0-rc02 && < 5.0.0)

This can be resolved if the .NET Standard 2.0 targets can be changed to allow for >=4.5.0-rc02.

[2017-12-21 05:16] TerribleDev commented on #60
it seems like all the nlog 5.0.0 packages have been ~~quietly~~ [link to tweet](https://twitter.com/NLogOfficial/status/943256082104901632) de-listed on nuget. I'll drop a PR shortly to target 4.5.0-rc02

[2018-01-07 23:01] #60 closed

[2018-02-22 06:16] PeymanGhadiri commented on #60
@TerribleDev  When will this be released?

[2018-02-22 07:04] TerribleDev commented on #60
@PeymanGhadiri that would be a question for @latkin

@latkin it seems this still targets nlog 5. From what I can tell #61 has yet to be released. Any updates?

[2018-02-25 23:06] hkf57 commented on #60
@TerribleDev #61 has definitely been released. I was able to pull the latest off nuget ~2 months ago.

[2018-02-26 00:57] PeymanGhadiri commented on #60
@hkf57 I can't see the latest release which includes #61.
This is what I get in nuget
![image](https://user-images.githubusercontent.com/313392/36648797-0927e814-1aec-11e8-9a28-98cd8ef97fca.png)

Could you please advise how to get the that?

[2018-02-26 01:57] latkin commented on #60
Last release on Nuget is definitely from before that PR was merged. Sorry about that, just an oversight that I didn't get to publishing a new one. 🤦‍♂️

Will try to get an update out soon, thanks for the reminders everyone.

[2018-02-26 19:10] latkin commented on #60
New release is up on Nuget (might be a bit before it fully propagates)

https://github.com/SumoLogic/sumologic-net-appenders/releases/tag/1.0.0.7

[2018-02-27 03:13] selsig commented on #60
Now that this has been updated, is the nlog package still supposed to be a prerelease? It's also got a dependency on SumoLogic.Logging.Common (>= 1.0.0.7-beta1) which doesn't exist so causes a build warning.

[2018-02-27 17:33] latkin commented on #60
@selsig NLog appender is supposed to remain beta for now since the underlying NLog libs are still pre-release. However it's surely a goof on my side that it's depending on phantom SumoLogic.Logging.Common 1.0.0.7-beta1. Let me take a look and see if I can fix that.

[2018-02-27 17:48] latkin opened #62 "Packaging for NLog appender is setting "beta" version for Common"
The NLog appender is currently packed with the following command:

[code]

This appears to be causing the full dependency chain to get tagged with `-beta1` package version, including SumoLogic.Logging.Common. The goal is for only the NLog portion to be tagged as beta.

![image](https://user-images.githubusercontent.com/5943573/36745109-66149272-1ba3-11e8-9ca8-4f96f8f64eb5.png)

[2018-02-27 17:49] latkin commented on #60
@selsig I've opened an issue for this https://github.com/SumoLogic/sumologic-net-appenders/issues/62

@TerribleDev any chance you would be able to take a look at a fix for this?

[2018-02-27 22:08] selsig commented on #62
I've not done much nuget packaging but would the following work?

Change pack command to:

dotnet pack .\SumoLogic.Logging.NLog\SumoLogic.Logging.NLog.csproj --output "$(Convert-Path .)\SumoLogic.Logging.Nuget" --configuration Release /p:VersionPrefix=$fin_ver

Change SumoLogic.Logging.NLog.csproj to include:

  <PropertyGroup>
    <VersionSuffix>beta1</VersionSuffix>
  </PropertyGroup>

[2018-02-28 17:45] latkin commented on #62
Seems reasonable. So many magic msbuild properties...

If you can try it out and confirm that it works then I'd be happy to take a PR with that change.

[2018-03-27 13:06] kirmak commented on #51
Any news on this? I would be very helpful :)

[2018-03-27 13:08] TerribleDev commented on #51
Hi, I have a working implementation. The branch needs some work before a PR is cut. Tbh, I kinda forgot about it. I'll resurrect the work, and I'll try to have something end of this week.

[2018-03-27 13:09] TerribleDev commented on #51
This was the half baked implementation https://github.com/SumoLogic/sumologic-net-appenders/pull/59

[2018-03-28 08:19] kirmak commented on #51
Thanks a lot!, Yes, I saw #59, but there is disappointing comment *do not merge*, so I decided to ask :)

[2018-04-25 17:26] #62 closed

[2018-06-21 23:45] justingreywolf opened #65 "TLS 1.2 support"
Since SumoLogic is turning off support for TLS 1.0 and 1.1, is there a plan to update the SumoLogic Appenders to support TLS 1.2?

https://help.sumologic.com/Release-Notes/Service-Release-Notes

Since the messageSender class right now is using HttpClient to call the endpoint, it will be using TLS 1.0 by default, until 4.6, where it uses 1.2.

[2018-07-04 04:16] mattyindustries commented on #65
+1

Our code is also using TLS 1.0 as it uses < .NET 4.6.

I'll have a look and see if I can make a PR for this although its not my forte

[2018-07-04 11:42] Aaron-Ritter-IDEXX commented on #65
Whether or not to use TLS 1.2 is up to the program, not the library. The trouble is that you're targeting Framework v4.5 or earlier, which by default doesn't attempt to use 1.2. There are generally 3 options, in my order of preference:

- Update your code to target 4.6 or higher (project properties) - see https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls
- Set registry valu

[2018-07-04 16:05] TerribleDev commented on #65
I agree with the previous comment. Honestly its not up to us as a library to set the TLS versions your app uses or supports.

[2018-07-04 16:07] TerribleDev commented on #65
I would be concerned if our libaray set specific network protocols for you. We could also disable protocols you still use and want to use

[2018-07-09 16:29] justingreywolf commented on #65
Fair enough - I see the logic in that.

For now we had already decided to follow #3 above - it is in our plan for our next IP sprint to upgrade to 4.6.  Lots of shared code, so we need to coordinate that effort across multiple projects.  Which itself, is another project I am trying to address ;)

[2018-07-09 16:29] #65 closed

[2018-07-11 16:57] catalintomescu opened #66 "NLog appender not working with .NET Framework 4.5.2"
I added NLog 4.5.6 and SumoLogic.Logging.NLog 1.0.0.7 to an existing Web API project targeting .NET Framework 4.5.2 but the SumoLogic appender throws an exception Exception thrown: 'System.Net.Http.HttpRequestException' in SumoLogic.Logging.Common.dll
Are there any knows issues with .NET Framework 4.5.2?

[2018-07-12 12:57] TerribleDev commented on #66
Are you sure you are not running into a TLS issue with your app? Unless you are on 4.6 or higher your app will try to use older versions of TLS that sumologic no longer supports. [This comment](https://github.com/SumoLogic/sumologic-net-appenders/issues/65#issuecomment-402454098) has a few ways in which you can make sure you are using supported versions of TLS.

[2018-07-13 17:51] snakefoot commented on #66
@catalintomescu Can you show the entire callstack of the exception?

[2018-07-13 17:59] catalintomescu commented on #66
@TerribleDev Following the instructions to configure ServicePointManager.SecurityProtocol resolved the problem. Thanks!

[2018-07-13 17:59] #66 closed

[2018-10-31 20:29] #43 closed

[2018-12-14 22:02] #49 closed

[2019-01-22 01:05] bin3377 commented on #51
addressed in https://github.com/SumoLogic/sumologic-net-appenders/pull/75
Need more time on UT and some tweak, but it's a smoking version at least

[2019-02-19 21:36] bin3377 opened #77 "Threads exhausting because of async implementation"
From Sumo support channel on behalf of @ezrapagel
Fixing is addressed in https://github.com/SumoLogic/sumologic-net-appenders/pull/76

We've been root causing some seriously disruptive performance issues in our production environment over the last few days -- one of our busiest worker services started slowing to a crawl under load, the behavior correlating to when we added SumoLogic to it. We elim

[2019-02-19 21:36] #77 closed

[2019-02-26 06:51] bin3377 commented on #51
included in https://github.com/SumoLogic/sumologic-net-appenders/releases/tag/1.0.1.1

[2019-02-26 06:51] #51 closed

[2019-03-04 23:13] AirEssY opened #80 "sumologic.logging.aspnetcore readme provides very little guidance"
Hey guys,

I would love to use the new aspnetcore ILogger appender!
I found this :
https://github.com/SumoLogic/sumologic-net-appenders/blob/master/docs/sumologic.logging.aspnetcore.md

However it gives me very little direction in how to use it... and it's left me a little confused...
Is there chance you can provide guidance/example on:

1. Using appsettings.json ? Maybe with like Uri, SourceName,

[2019-03-04 23:45] bin3377 commented on #80
Thanks for your feedback.
1) for the details about configuration through `appsettings.json`, you can probably adding `.AddJsonFile()` as [this article](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2).

2) you can pick either. the example code switching between them with un/set `USE_BUILDER` macro

[2019-03-07 02:27] eddit0r opened #81 "sumo serilog appender failing to substitute template string variables"
A sumo customer has an issue implementing the sumo serilog appender.

The sumo appender is not substituting variables as expected.

The standard serilog console logger is performing the substitutions as expected.

The customer suspects a template issue:
![image](https://user-images.githubusercontent.com/4442512/53927955-91866e80-40dc-11e9-9bfc-aa5851ade0dc.png)

example of failed substitution.
`_m

[2019-03-07 02:48] bin3377 commented on #81
@wdolek any comment on this?

[2019-03-13 05:48] eddit0r commented on #81
![image](https://user-images.githubusercontent.com/4442512/54256256-81c0cb80-45af-11e9-89fe-2288d1639162.png)
Customer reports sumo serilog driver throwing exception under load, see stack trace attached.

[2019-03-26 20:50] wdolek commented on #81
@eddit0r Sorry for such delay in response, completely missed notification.

From how you described the issue, I'm not really sure what could be the cause - template seems to be OK, we are using logging similar way without any problem. I can try to debug, but no promise. (Yet I'm puzzled that it works as expected with just console sink)

Regarding exception thrown and its stack trace, I would assum

[2019-03-26 22:32] #80 closed

[2019-03-28 15:24] wdolek commented on #81
@eddit0r I realized I might misunderstand your issue regarding replacing. I think what you see is intentional.

Let's say I log message with this template:
`Request to {RequestUri}, Status: {StatusCode}, Duration: {Duration} ms`

This is what I get in SumoLogic:
[code]

... so yes, `Message` does not contain replaced values - but it's actually OK - you can use it as key for lookup. Values are then

[2019-03-28 18:46] bin3377 commented on #81
For me, keeping value of `"Message"` field with the same result as console logger (e.g., with replaced value) sounds more reasonable. People can actually only extract `"Message"` for the essential information they needed. thought?

[2019-03-28 22:31] wdolek commented on #81
Will try other Serilog formatters and let you know. There's nothing related to message formatting in _this_ library, but it's worth checking!

[2019-03-29 01:12] eddit0r commented on #81
@wdolek I think the customers expectation is that the substitution would function as the console loggers did. Unfortunately I am relaying this detail secondhand.

![image](https://user-images.githubusercontent.com/4442512/55202512-d012d300-521b-11e9-91bd-f0d051e0cb2f.png)

[2019-03-29 10:29] wdolek commented on #81
@eddit0r, yup I see. I verified how NLog or Log4net works and indeed there's some issue for Serilog (and funnily enough I thought it's a feature!)... I will look into it and let you know.

[2019-03-29 11:47] wdolek commented on #81
@eddit0r, so after all it's not issue of library - it's by design of Serilog `JsonFormatter` and `CompactJsonFormatter` (which you are using). In order to get placeholders replaced, please use `RenderedCompactJsonFormatter` or implement own custom formatter (more about formatting here: [Serilog/Formatting Output](https://github.com/serilog/serilog/wiki/Formatting-Output)).

Let us know whether thi

[2019-05-17 06:46] zakbar opened #83 "OperationCanceledException bubble up to app level"
I have been experiencing issue with sumologic serilog sink, where OperationCanceledException being bubbled up to the app level. This exception is thrown by HttpClient when it can't reach the destination URL over retries.

After digging into the code, I've noticed that we did modification on following line. https://github.com/SumoLogic/sumologic-net-appenders/blob/master/SumoLogic.Logging.Common/Se

[2019-05-30 22:29] mikesigs opened #84 "Buffered messages not flushed when application exits"
The title pretty much speaks for itself.

We are using the Buffered appender and have found (during some local testing) that any messages in the buffer do not get sent when the process exits.

There does not appear to be any configuration setting to control this. The best I think we can do is to reduce the duration in either `MaxFlushInterval` or `FlushingAccuracy`.

I feel like this could benefit

[2019-09-17 16:14] aschaible opened #87 "Can the dotnet core docs be improved?"
Could you please specify how to use appsettings.json to configure the parameters of the SumoLogic appender?  Perhaps it's impossible for the URI to be auto-configured through the json file?

[2019-10-24 08:21] czd890 opened #88 "Throw OperationCanceledException exceptions to AppDomain UnhandledException"
System.OperationCanceledException: The operation was canceled.
   at System.Net.Http.HttpClient.HandleFinishSendAsyncError(Exception e, CancellationTokenSource cts)
   at System.Net.Http.HttpClient.FinishSendAsyncBuffered(Task`1 sendTask, HttpRequestMessage request, CancellationTokenSource cts, Boolean disposeCts)
   at SumoLogic.Logging.Common.Sender.SumoLogicMessageSender.TrySend(String body, St

[2019-10-24 16:53] snakefoot commented on #88
Created PR #89

[2019-10-24 18:04] snakefoot commented on #84
Using NLog, log4net, Serilog or AspNetCore ?

[2019-10-24 18:13] snakefoot commented on #83
Created PR #89 to resolve this  (Bug introduced in ver. 1.0.0.11)

[2019-10-24 19:38] snakefoot commented on #88
@czd890 Are you using ver. 1.0.1.1 that includes #78 ?

[2019-10-24 19:38] snakefoot commented on #83
@zakbar Are you using ver. 1.0.1.1 that includes #78 ?

[2019-10-24 23:35] zakbar commented on #83
Yes, I am using 1.0.1.1

[2019-10-25 00:00] mikesigs commented on #84
@snakefoot when I posted this the problem was with log4net. Since then we have migrated half of our services to Serilog but they're containerized and just write to the console.

[2019-10-25 06:22] czd890 commented on #88
I using the SumoLogic.Logging.NLog.1.0.1.1, and decompiler the dll ,included #78 .
#78 Added TaskCanceledException, but not add OperationCanceledException

[2019-10-25 09:24] snakefoot commented on #88
Yes also noticed this after writing my comment. The PR #89 will fix the issue

Sent from my Sony Xperia

---- czd890 wrote ----

I using the SumoLogic.Logging.NLog.1.0.1.1, and decompiler the dll ,included #78<https://github.com/SumoLogic/sumologic-net-appenders/pull/78> .
#78<https://github.com/SumoLogic/sumologic-net-appenders/pull/78> Added TaskCanceledException, but not add OperationCanceledEx

[2019-10-31 09:43] czd890 commented on #88
Looking forward to the publish of the new version

[2019-10-31 11:12] snakefoot commented on #88
Looks like the project maintainer @bin3377 is bit occupied as there several pending pull requests. Not sure how long you will wait.

Sent from my Sony Xperia

---- czd890 wrote ----

Looking forward to the publish of the new version

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/SumoLogic/sumologic-net-appenders/issues/88?email_s

[2019-11-19 12:20] naveenmora opened #90 "NLog appender not working with .NET Framework 4.8"

[2019-11-23 20:16] snakefoot commented on #90
Try activating NLog Internal Logging at Debug-level:

https://github.com/NLog/NLog/wiki/Internal-Logging

Maybe it can give you a clue.

[2019-11-28 11:00] StefanBilliet opened #91 "Deadlock with the non buffered SumoLogic Serilog sink"
### Installed product versions
- SumoLogic.Logging.Serilog: 1.0.1.1

### Description
After I make a RPC call via remoting and a timeout exception is thrown, when I log the exception using Log.Error, I get stuck in a deadlock.

### Steps to recreate
1. Set up Serilog with non buffered sumo logic sink
2. Make an RPC call with remoting; this call throws an exception leading to a timeout exception
3.

[2019-11-28 19:18] snakefoot commented on #91
Added commit to #89 that resolves the issue discovered.

[2019-12-10 06:14] #83 closed

[2019-12-10 06:14] #88 closed

[2019-12-11 14:30] natehitze commented on #87
I know it's been a few months since you asked this question but hopefully this is helpful for others.

Currently this is what I use to leverage core's configuration system.

On startup:
[code]

Then in your `appsettings.json` you can put something like
[code]

You can see the available options in the [Logger Options](https://github.com/SumoLogic/sumologic-net-appenders/blob/master/SumoLogic.Loggin

[2019-12-18 22:15] snakefoot commented on #84
@guptakeshav-sumo Think this is resolved with #92 (and #93)

[2019-12-19 06:43] guptakeshav-sumo commented on #84
Yes, should be fixed now :)

[2019-12-19 12:29] #84 closed

[2019-12-19 21:31] snakefoot commented on #91
@StefanBilliet SumoLogic.Logging.Serilog: 1.0.1.2 has been released. Can you check if it fixes your issued?

[2020-01-05 02:59] kylegalbraith opened #95 "log4net appender is getting a WebException using collector endpoint"
I am running a .NET 4.5 console app that I am trying to ship up the logs to my HTTP collector in my Sumo Logic account. Below is my XML configuration in App.config.

[code]

But in my `Program.cs` I am getting an exception as soon as the logger goes to ship up a log message.

Here is the sample code:
[code]

Here is the exception:
[code]

I am on the latest version of the Nuget package and log4net

[2020-01-17 12:46] bobingham opened #97 "written by Sumo not supported by Sumo"
Tying to get this working with a Sumo support engineer.  He contacted the department responsible for writing it who told us Sumo don't support it and suggested we post an issue here.  Can someone from Sumo who oversees this repo please contact Tafirenyika Makamure from Sumo who is trying to get it it work.

[2020-01-27 20:47] navidmatin opened #98 "Supporting Scopes for AspNetCore provider"
Is there a plan to support [Log Scopes](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-scopes) for `SumoLog.Logging.AspNetCore` provider?

Currently `BeginScope` just returns null
https://github.com/SumoLogic/sumologic-net-appenders/blob/master/SumoLogic.Logging.AspNetCore/Logger.cs#L46-L49

[2020-04-22 00:28] insane4sure commented on #95
@kylegalbraith did you make progress on this?  I'm also experiencing this issue, exactly as described above.  I'm a noob to sumologic, so I assume my endpoint url is invalid.

[2020-06-04 00:29] lei-sumo commented on #95
Can you check if you are on tls 1.2 or later? This might be relevant https://stackoverflow.com/questions/30516001/an-existing-connection-was-forcibly-closed-by-the-remote-host-when-connecting

[2020-06-21 18:55] oicguy commented on #98
So ummm, can we get a release for this #85 since it was merged?

[2020-06-22 21:21] jficarapi opened #100 "MessageFormatterFunc support missing from LoggerOptions published nuget package v.1.0.1.3"
Greetings,

The latest version of the Sumologic.Logging.AspNetCore  nuget package appears to be v1.0.1.3 from nuget.org.  Looking at the releases this looks like the last release published as well.

The v1.0.1.3 version does not support the MessageFormatterFunc parameter of the LoggerOptions class.  Do you know when a new version of the Sumlogic.Logging.AspNetCore nuget package will be published t

[2020-08-11 13:32] ab-aayers opened #104 "Buffered appender: does not separate multiple events into distinct messages."
When multiple events occur before a flush the events appear as one message in sumo rather than multiple.  Tried in all configurations for multiline processing; regex works occasionally depending on the event.
I would expect that the buffered appender would store the events in an array that makes the messages distinct when arriving in the sumo platform.

[2020-09-02 21:07] jficarapi opened #105 "Log message templates don't appear to work properly when using .NET Core Appender"
Greetings,

I implemented the message formatter function as described on this page:
https://github.com/SumoLogic/sumologic-net-appenders/blob/master/docs/sumologic.logging.aspnetcore.md

However, when logging using the .NET Core Log message template format the "properties" dictionary passed into the message formatter function does not contain any of the properties.

For example when calling the lo

[2021-02-06 04:17] dbones commented on #98
we need this too, its a bit of a deal breaker

[2021-10-13 15:55] loganhylton opened #111 "Security Vulnerability with Log4Net package version 2.0.8"
Would it be possible to merge the open PR for updating the log4net package? https://github.com/SumoLogic/sumologic-net-appenders/pull/106

Link to security vulnerability: https://nvd.nist.gov/vuln/detail/CVE-2018-1285

[2022-09-26 19:19] swettstein opened #112 "SumoLogicMessageSender throws NRE during CanTrySend when HttpClient has been disposed"
During an attempt at a graceful shutdown, SumoLogicMessageSender has been disposed which sets the HttpClient to null but one last log is attempted and throws a NullReferenceException when calling CanTrySend due to checking the ConnectionTimeout on HttpClient but HttpClient is already disposed and null.

[2022-10-17 16:42] #112 closed

[2022-10-18 18:25] rnishtala-sumo commented on #111
Release 1.0.1.5 has this fix.

[2022-10-18 18:25] #111 closed